@charset "UTF-8";
body {
margin:0;
padding:0;
}
.container {
width:100%;
min-height:800px;
margin:0 auto;

}

.box {
height:800px;
background-repeat:no-repeat;
background-size:cover;
}

.image1 {
background-image:url(./img/bg1.jpg);
}
.image2 {
background-image:url(./img/bg2.jpg);
}
.image3 {
background-image:url(./img/bg3.jpg);
}
.image4 {
background-image:url(./img/bg4.jpg);
}
.image5 {
background-image:url(./img/bg5.jpg);
}

